<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @desks.each do |desk| %>
      <tr>
        <td><%= desk.number %></td>
        <td><%= desk.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
